<section *transloco="let t" class="wormhole-grid">
  <h3>
    {{t('planets.planets.title')}}
  </h3>
  <article *ngIf="planets.length; else noResult">
    <table>
      <thead>
      <tr>
        <th>{{t('planets.planets.table.id')}}</th>
        <th>{{t('planets.planets.table.name')}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of planets">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td class="wormhole-text-right">
          <a [routerLink]="p.id">
            {{t('button.detail')}}
          </a>
        </td>
      </tbody>
    </table>
    <lorentz-pager
      [totalItems]="allPlanets"
      (whenPageSelected)="setPage($event)"
    ></lorentz-pager>
  </article>
  <ng-template #noResult>
    <article class="wormhole-alert">
      {{t('planets.planets.noResult')}}
    </article>
  </ng-template>
</section>

