<div class="wormhole-rating">
  <button type="button" #star (click)="setRating(1)" [class.active]="_value >=1">Star</button>
  <button type="button" #star (click)="setRating(2)" [class.active]="_value >=2">Star</button>
  <button type="button" #star (click)="setRating(3)" [class.active]="_value >=3">Star</button>
  <button type="button" #star (click)="setRating(4)" [class.active]="_value >=4">Star</button>
  <button type="button" #star (click)="setRating(5)" [class.active]="_value >=5">Star</button>
</div>
{{_value}}
