<footer class="wormhole-grid"
        *transloco="let t">
  <nav class="site-map">
    <ul>
      <li><a [routerLinkActive]="'planets'" routerLink="/planets">{{t('menu.planets')}}</a></li>
      <li><a [routerLinkActive]="'starships'" routerLink="/starships">{{t('menu.starships')}}</a></li>
      <li><a [routerLinkActive]="'people'" routerLink="/people">{{t('menu.people')}}</a></li>
      <li><a [routerLinkActive]="'vehicles'" routerLink="/vehicles">{{t('menu.vehicles')}}</a></li>
      <li><a [routerLinkActive]="'films'" routerLink="/films">{{t('menu.films')}}</a></li>
    </ul>
  </nav>
  <wormhole-locale-selector></wormhole-locale-selector>
  <p class="wormhole-text-3">By: Emanuele Galeotti</p>
</footer>
