<aside *transloco="let t" class="wormhole-grid">
    <nav>
        <ul>
            <li><a [routerLinkActive]="'planets'" routerLink="/planets">{{t('menu.planets')}}</a></li>
            <li><a [routerLinkActive]="'starships'" routerLink="/starships">{{t('menu.starships')}}</a></li>
            <li><a [routerLinkActive]="'people'" routerLink="/people">{{t('menu.people')}}</a></li>
            <li><a [routerLinkActive]="'vehicles'" routerLink="/vehicles">{{t('menu.vehicles')}}</a></li>
            <li><a [routerLinkActive]="'films'" routerLink="/films">{{t('menu.films')}}</a></li>
            <li><a [routerLinkActive]="'carbon'" routerLink="/carbon">{{t('menu.carbon')}}</a></li>
        </ul>
    </nav>
</aside>
