<section>
    <dl>
        <dt>Id</dt>
        <dd>{{planet?.id}}</dd>
        <dt>Name</dt>
        <dd>{{planet?.name}}</dd>
        <dt>Diameter</dt>
        <dd>{{planet?.diameter}}</dd>
        <dt>Climate</dt>
        <dd>{{planet?.climate}}</dd>
        <dt>Gravity</dt>
        <dd>{{planet?.gravity}}</dd>
        <dt>Terrain</dt>
        <dd>{{planet?.terrain}}</dd>
        <dt>Population</dt>
        <dd>{{planet?.population}}</dd>
        <button type="button" routerLink="..">Back</button>
    </dl>
</section>