<section class="wormhole-grid" *transloco="let t">
  <wormhole-card>
    <h4 card-header>{{planet?.name}}</h4>
    <dl card-body>
      <dt>Id</dt>
      <dd>{{planet?.id}}</dd>
      <dt>Diameter</dt>
      <dd>{{planet?.diameter}}</dd>
      <dt>Climate</dt>
      <dd>{{planet?.climate}}</dd>
      <dt>Gravity</dt>
      <dd>{{planet?.gravity}}</dd>
      <dt>Terrain</dt>
      <dd>{{planet?.terrain}}</dd>
      <dt>Population</dt>
      <dd>{{planet?.population}}</dd>
    </dl>
  </wormhole-card>
  <button type="button" class="wormhole-btn wormhole-btn-outline" routerLink="..">{{t('button.back')}}</button>
</section>
