button {
  &.wormhole {
    &-btn {
      border: 2px solid $black;
      border-radius: $border-radius;
      padding-left: var(--wormhole-space-xs);
      padding-right: var(--wormhole-space-xs);
      height: $button-height;
      text-transform: uppercase;
      font-weight: 700;
      box-shadow: 2px 4px #000;
      transition: all .3s;
      &-primary {
        background-color: $giants-orange;
        &:hover{
          background-color: $bronze;
        }
      }
      &-outline {
        background-color: transparent;
      }
    }
  }
}
