<section>
    <dl>
        <dt>Id</dt>
        <dd>{{vehicle?.id}}</dd>
        <dt>Name</dt>
        <dd>{{vehicle?.name}}</dd>
        <dt>Model</dt>
        <dd>{{vehicle?.model}}</dd>
        <dt>Manufacturer</dt>
        <dd>{{vehicle?.manufacturer}}</dd>
        <dt>length</dt>
        <dd>{{vehicle?.length}}</dd>
        <dt>Passengers</dt>
        <dd>{{vehicle?.passengers}}</dd>
        <dt>Capacity</dt>
        <dd>{{vehicle?.capacity}}</dd>
        <dt>Class</dt>
        <dd>{{vehicle?.vehicle_class}}</dd>
        <button type="button" routerLink="..">Back</button>
    </dl>
</section>
