$header-xs-height: 66px;
$header-sm-height: 66px;
$header-md-height: 66px;
$header-lg-height: 66px;
$header-xl-height: 66px;
$header-xxl-height: 66px;

$border-radius: toRem(8);
$border-radius-xl: toRem(32);
$input-height: toRem(48);
$button-height: toRem(48);
