<section>
    <dl>
        <dt>Id</dt>
        <dd>{{person?.id}}</dd>
        <dt>Name</dt>
        <dd>{{person?.name}}</dd>
        <dt>Gender</dt>
        <dd>{{person?.gender}}</dd>
        <dt>Height</dt>
        <dd>{{person?.height}}</dd>
        <dt>Mass</dt>
        <dd>{{person?.mass}}</dd>
        <dt>Hair</dt>
        <dd>{{person?.hair}}</dd>
        <dt>Skin</dt>
        <dd>{{person?.skin}}</dd>
        <dt>Eye</dt>
        <dd>{{person?.eye}}</dd>
        <dt>Birth</dt>
        <dd>{{person?.birth}}</dd>
    </dl>
    <button type="button" routerLink="..">Back</button>
</section>