<section class="wormhole-grid" *transloco="let t">
  <h2>
    {{t('films.films.title')}}
  </h2>
  <article *ngIf="films.length; else noResult">
    <form [formGroup]="ratingForm">
      <table>
        <thead>
        <tr>
          <th>{{t('films.films.table.episode')}}</th>
          <th>{{t('films.films.table.title')}}</th>
          <th>{{t('films.films.table.rating')}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody [formArrayName]="'ratings'">
        <tr *ngFor="let f of films; let i = index">
          <td>{{f.episode}}</td>
          <td>{{f.title}}</td>
          <td>
            <wormhole-rating
              [formControlName]="i"
            ></wormhole-rating>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </form>
  </article>
  <ng-template #noResult>
    <article class="wormhole-alert">
      {{t('films.films.noResult')}}
    </article>
  </ng-template>
</section>
