<section class="wormhole-grid" *transloco="let t">
  <h2>
    {{t('starships.starships.title')}}
  </h2>
  <article *ngIf="((starships$ | async) ?? []).length; else noResult">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Model</th>
        <th>Class</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of starships$ | async">
        <td>
          {{s.id}}
        </td>
        <td>
          {{s.name}}
        </td>
        <td>
          {{s.model}}
        </td>
        <td>
          {{s.starship_class}}
        </td>
        <td>
          <a [routerLink]="[s.id]">Detail</a>
        </td>
      </tr>
      </tbody>
    </table>
    <lorentz-pager
      [totalItems]="(allStarships$ | async) ?? 0"
      (whenPageSelected)="store.dispatch(actions.storeCurrentPage({p:$event}))"
    ></lorentz-pager>
  </article>
  <ng-template #noResult>
    <article class="wormhole-alert">
      {{t('starships.starships.noResult')}}
    </article>
  </ng-template>
</section>
