<section>
    <div *ngIf="((starships$ | async) ?? []).length; else noResult">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Class</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of starships$ | async">
                    <td>
                        {{s.id}}
                    </td>
                    <td>
                        {{s.name}}
                    </td>
                    <td>
                        {{s.model}}
                    </td>
                    <td>
                        {{s.starship_class}}
                    </td>
                    <td>
                        <a [routerLink]="[s.id]">Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <wormhole-pager [totalItems]="(allStarships$ | async) ?? 0"
            (whenPageSelected)="store.dispatch(actions.storeCurrentPage({p:$event}))"></wormhole-pager>
    </div>
    <ng-template #noResult>
        no result
    </ng-template>
</section>