@use '../../../sass/abstract/mixins' as mixins;

section {
  grid-template-rows: auto auto;

  article {
    @include mixins.full-grid();

    table {
      width: 100%;
    }

    lorentz-pager {
      display: inline-block;
    }

    &.wormhole-alert {
      @include mixins.full-grid();
    }
  }
}
