form {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto auto;
  .wormhole-input{
    grid-column: 1/13;
  }
  button {
    grid-column: 5/7;
    margin-top: var(--wormhole-space-3xs);
  }
}
