<form (ngSubmit)="getWeather()"
      [formGroup]="cityForm">
  <div class="wormhole-input">
    <label for="search-city"
           class="wormhole-text-1">City:</label>
    <input type="text"
           id="search-city"
           formControlName="city"
           class="wormhole-text-1"
           placeholder="Insert city to search">
  </div>
  <button type="submit"
          class="wormhole-btn wormhole-btn-primary">Cerca</button>
</form>
<dl *ngIf="weather; else noCity">
  <dt>City:</dt>
  <dd>{{weather.name}}</dd>
  <dt>Temperature:</dt>
  <dd>{{weather.temp | toCelsius}}</dd>
  <dt>Min Temperature:</dt>
  <dd>{{weather.temp_min | toCelsius}}</dd>
  <dt>Max Temperature:</dt>
  <dd>{{weather.temp_max | toCelsius}}</dd>
  <dt>Humidity:</dt>
  <dd>{{weather.humidity}}</dd>
  <dt>Pressure:</dt>
  <dd>{{weather.pressure}}</dd>
</dl>
<dl *ngFor="let w of weather?.weather">
  <dt>{{w.main}}</dt>
  <dd>{{w.description}}</dd>
</dl>
<ng-template #noCity>
  Nessuna città selezioanta
</ng-template>
